<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38305914416-bsnn20nuoqbpfvntvb83qhth87opu0eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38305914416-bsnn20nuoqbpfvntvb83qhth87opu0eu</string>
	<key>API_KEY</key>
	<string>AIzaSyADIpm-DULpLU-k8x1zpknweJVW8pEpS1A</string>
	<key>GCM_SENDER_ID</key>
	<string>38305914416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>estg.ipvc.wheretogo</string>
	<key>PROJECT_ID</key>
	<string>wheretogo-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>wheretogo-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38305914416:ios:b88fddca7b21c6c3</string>
	<key>DATABASE_URL</key>
	<string>https://wheretogo-ios.firebaseio.com</string>
</dict>
</plist>